.btn {
    text-decoration: none;
    color: #24A3FF;
    font-size: 14px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-right: 12px;
    background: url(../img/arrow.svg) no-repeat center right;
}