.btn {
    text-decoration: none;
    color: #24A3FF;
    font-size: 14px;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 1px;
    padding-right: 14px;
    background: url(../img/arrow.svg) no-repeat center right;
    transition-duration: 0.2s;
    transition-property: color background-image;

    &_publications {
        padding-left: 15px;
    }

    &:hover {
        color: #f0145a;
        background-image: url(../img/arrow_red.svg);
    }

    &.active{
        background-image: url(../img/close.svg);
    }
}

@media (min-width: 768px) {
    .btn {

        &_publications {
            padding-left: 0;
        }
    }
}