.header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: min-content min-content;
    position: relative;

    &__top {
        grid-column: 1/-1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -15px;
        padding: 0 15px;
        padding-top: 10px;
        padding-bottom: 10px;

        &_dark {
            background-color: rgba(245, 245, 250, 0.2);
        }

        &_light {
            background-color: rgba(245, 245, 250, 1);
        }
    }

    &__adress {
        display: none;
        color: #B3B3BA;
    }

    &__tel {
        padding-top: 2px;
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        text-align: right;
        transition-duration: 0.2s;
        transition-property: color;

        &:hover {
            color: #f0145a;
        }

        &_dark {
            color: #ffffff;
        }

        &_light {
            color: #B3B3BA;
        }
    }

    &__fb {
        display: none;
    }

    &__logo-box {
        display: flex;
        align-items: center;
        padding-top: 19px;
        position: relative;

        & span {
            display: flex;
        }

        &_homepage {
            & span {
                display: none;
            }
        }
    }

    &__logo-box-logo img {
        display: block;
        width: 69px;
        height: 32px;
    }

    &__breadcrumbs {
        color: #323264;
        font-size: 20px;
        line-height: normal;
        display: flex;
        align-items: start;
        padding-left: 20px;
        padding-bottom: 8px;
    }

    &__breadcrumbs::before {
        display: block;
        content: '';
        background-image: url(../img/slash.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 12px;
        height: 26px;
        position: absolute;
        top: 19px;
        left: 73px;
    }

}

@media (min-width:768px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;

        &__top {
            background-color: transparent;
            padding-top: 48px;
            padding-bottom: 10px;
        }

        &__adress {
            display: block;
            position: relative;
            padding-left: 18px;
            font-size: 16px;
            line-height: 100%;

            &::before {
                content: '';
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #e6e6f0;
                position: absolute;
                top: 5px;
                left: 6px;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #e6e6f0;
                position: absolute;
                top: 5px;
                left: 225px;
            }
        }

        &__tel {
            padding-left: 19px;
            position: relative;
            transition-duration: 0.2s;
            transition-property: color;

            &:hover {
                color: #f0145a;
            }

            &::after {
                content: '';
                display: inline-block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #e6e6f0;
                position: absolute;
                top: 6px;
                left: 128px;
            }
        }

        &__fb {
            display: block;
            padding-top: 1px;
            margin-left: 18px;
            transition-duration: 0.2s;
            transition-property: fill;

            &:hover use {
                fill: #f0145a;
            }
        }

        &__logo-box-logo img {
            width: 130px;
            height: 60px;
        }

        &__top {
            justify-content: flex-start;
        }

        &__breadcrumbs {
            font-size: 36px;
        }

        &__breadcrumbs {
            padding-left: 30px;
            padding-bottom: 15px;
        }

        &__breadcrumbs::before {
            width: 21px;
            height: 47px;
            left: 134px;
        }

    }
}

@media (min-width:992px) {
    .header {
        grid-template-columns: 1fr min-content;
        grid-template-rows: min-content min-content;

        &__top {
            grid-column: 2/-1;
            padding-bottom: 16px;
        }

        &__logo-box {
            grid-row: 1/-1;
            padding-top: 33px;
        }


        &__adress {
            white-space: nowrap;
        }

        &__tel {
            white-space: nowrap;
        }

        &__breadcrumbs::before {
            left: 134px;
            top: 50px;
        }
    }
}