.icon {
    &__facebook {
        width: 24px;
        height: 24px;
        fill: #ffffff;
    }

    &__case {
        width: 64px;
        height: 64px;
    }

     &__facebook1 {
        width: 38px;
        height: 38px;
        fill: #24A3FF;
    }
}