.icon {
    &__facebook {
        width: 24px;
        height: 24px;
        fill: #ffffff;

        &_light {
            fill: #B3B3BA;
        }
    }

    &__case {
        width: 92px;
        height: 92px;
    }

    &__facebook1 {
        width: 38px;
        height: 38px;
        fill: #24A3FF;
    }

    &__hamburger {
        width: 32px;
        height: 32px;
        stroke: #ffffff;
    }
}