.menu {
    &__list {
        display: block;
        position: absolute;
        right: 110%;
        background-color: #ffffff;
        list-style: none;
        padding: 12px;
        text-align: center;

        &__inset {
            margin-bottom: 15px;
            border-radius: 12px;
            background-color: #f5f5fa;
            padding: 7px 0;
            transition-duration: 0.2s;
            transition-property: background-color;

            &__link {
                text-decoration: none;
                color: #24a3ff;
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
            }

            &__link.active {
                color: #f0145a;
            }
        }

        &__inset:hover {
            background-color: #e6e6f0;
        }

    }

    &__btn {
        background-color: transparent;
        border: none;
        width: 32px;
        height: 33px;
        border-radius: 8px;
        margin-top: 15px;
        transition-duration: 0.2s;
        transition-property: background-color;

        &_dark {
            background-image: url(../img/hamburger_dark.svg);
        }

        &_light {
            background-image: url(../img/hamburger_light.svg);
        }

        &_dark.active {
            background-image: url(../img/close_dark.svg);
        }

        &_light.active {
            background-image: url(../img/close_light.svg);
        }
    }

    &__btn:hover {
        background-color: #e6e6f0;
    }

    &__btn.active {
        &_dark {
            background-image: url(../img/close_dark.svg);
        }

        &_light {
            background-image: url(../img/close_light.svg);
        }
    }
}

@media (min-width:768px) {
    .menu {
        &__btn {
            display: none;
        }

        &__list {
            position: static;
            background-color: transparent;
            display: flex;
            align-items: center;
            padding: 0;
            transition-duration: 0.2s;
            transition-property: background-color;

            &__inset:hover {
                background-color: transparent;
            }

            &__inset {
                background-color: transparent;
                padding: 30px 15px 0 0px;

                &__link {
                    margin: 0;
                    color: #ffffff;
                    font-size: 16px;
                    padding-bottom: 3px;
                    border-bottom: 2px solid transparent;
                    transition-duration: 0.2s;
                    transition-property: border-color;

                    &_light {
                        color: #24a3ff;
                    }

                    &_dark {
                        color: #ffffff;
                    }
                }

                &__link_dark:hover {
                    border-color: #ffffff;
                }

                &__link_light:hover {
                    border-color: #24a3ff;
                }

                &__link.active {
                    color: #f0145a;
                    border-color: #f0145a;
                }

            }
        }
    }
}

@media (min-width:992px) {
    .menu {
        &__list {
            white-space: nowrap;
            justify-content: flex-end;

            &__inset {
                padding: 0px 0px 0 15px;
            }
        }
    }
}