.quality {
    padding: 30px 15px 0;

    &__text {

        &__p {
            color: #000;
            font-size: 19px;
            line-height: 1.57em;
            padding-bottom: 33px;
        }
    }

    &__title {

        &__h3 {
            font-size: 30px;
            font-weight: 700;
            line-height: 1em;
            background-image: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 60px;
        }
    }
}

@media (min-width: 768px) {
    .quality {
        padding: 53px 0 0;

        &__title {

            &__h3 {
                font-size: 38px;
            }
        }
    }
}

@media (min-width: 992px) {
    .quality {
        display: flex;
        align-items: flex-start;
        padding: 57px 0 0;

        &__text {
            width: 50%;

            &__p {
                padding-bottom: 44px;
            }
        }

        &__title {
            width: 50%;
            padding-left: 60px;

            &__h3 {
                line-height: 1.17em;
                padding-left: 30px;
                padding-top: 2px;
            }
        }
    }
}