.solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 11.5px;

    &__h {
        font-weight: 700;
        font-size: 38px;
        line-height: 1.13em;
        text-align: center;
        padding: 144px 0 163px;
    }

    &__btn {
        cursor: pointer;
        border: none;
        background: url(../img/scroll.svg) center no-repeat transparent;
        padding: 21px;
        transition-duration: 0.2s;
        transition-property: background-image;

        &:hover {
            background-image: url(../img/scroll_hover.svg);
        }

    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &__list {
            width: 100%;
            padding-top: 62px;
            padding-bottom: 30px;
        }

        &__text {
            position: relative;
            padding-top: 23px;

            &::before {
                content: "";
                width: 91%;
                height: 4px;
                background-color: rgba(255, 255, 255, 0.3);
                position: absolute;
                top: 3px;
                left: 15px;
            }
        }
    }

    &__list {
        display: flex;
        align-items: flex-start;
        list-style: none;
        padding: 0;
        overflow: auto;

        &__inset {
            white-space: nowrap;

            & button.active {
                background-image: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &__btn {
            cursor: pointer;
            background-color: transparent;
            border: none;
            padding-left: 15px;
            margin-right: 23px;
            font-size: 30px;
            font-weight: 700;
            line-height: 1em;
            color: #b3b3ba;
            transition-duration: 0.2s;
            transition-property: opacity;

            &:hover {
                opacity: 0.7;
            }
        }

    }

    &__info {
        padding: 16px;

        &__h2 {
            color: #ffffff;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.1em;
        }

        &__p {
            padding-top: 30px;
            color: #ffffff;
            font-size: 19px;
            line-height: 1.6em;
        }
    }
}

@media (min-width: 768px) {
    .solutions {
        padding-bottom: 56px;

        &__h {
            padding: 261px 0 418px;
        }

        &__box {

            &__list {
                padding-top: 95px;
                padding-bottom: 63px;
            }

            &__text {
                padding-top: 65px;

                &::before {
                    width: 100%;
                    top: -2px;
                    left: 0px;
                }
            }
        }

        &__list {

            &__btn {
                font-size: 38px;
                letter-spacing: 1px;
                padding-left: 0px;
                margin-right: 30px;
            }
        }

        &__info {
            padding: 0;

            &__h2 {
                font-size: 30px;
            }

            &__p {
                padding-top: 32px;
            }
        }
    }
}

@media (min-width: 992px) {
    .solutions {
        padding-bottom: 2px;

        &__h {
            padding: 237px 0 289px;
        }

        &__box {
            padding-top: 0px;
            flex-direction: row;
            align-items: center;

            &__list {
                width: 50%;
            }

            &__text {
                width: 50%;
                padding: 0 0 0 47px;

                &::before {
                    content: '';
                    width: 4px;
                    height: 303px;
                    top: 29px;
                    left: -17px;
                }
            }
        }

        &__list {
            display: block;

            &__inset {
                padding: 18px 40px 15px 0;
                text-align: end;
            }

            &__btn {
                letter-spacing: 2px;
            }
        }

        &__info {

            &__h2 {
                padding-top: 34px;
                line-height: 1.3em;
            }

            &__p {
                padding-top: 30px;
            }
        }
    }
}