* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    max-width: 1220px+30px;
    min-width: 320px-30px;
    margin: 0 auto;
    padding: 0 15px;
}

::before,
::after{
    box-sizing: border-box;
}

.img-responsive{
    max-width: 100%;
    height: auto;
}

.body {
    font-family: 'Montserrat', 'Tahoma', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.background-gradient {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) no-repeat;
}

.background-image {
    background: url(../img/symbol.svg) no-repeat -76px 0;
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 1220px+60px;
        min-width: 320px-60px;
        padding: 0 60px;
    }
}