* {
    box-sizing: border-box;
    margin: 0;
}

.wrapper {
    max-width: 1220px+30px;
    min-width: 320px-30px;
    margin: 0 auto;
    padding: 0 15px;
}

::before,
::after {
    box-sizing: border-box;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.body {
    font-family: 'Montserrat', 'Tahoma', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
}

.background {
    position: relative;
    background-image: url(../img/symbol.svg),
        linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);

    background-repeat: no-repeat;
    background-position: center top, center;
    background-size: 671px auto, contain;
    border-radius: 0px 0px 12px 12px;

    &::before {
        content: '';
        display: inline-block;
        height: 10px;
        background-color: #CACADB;
        border-radius: 0px 0px 12px 12px;
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: -10px;
    }

    &::after {
        content: '';
        display: inline-block;
        height: 10px;
        background-color: #E7E7F2;
        border-radius: 0px 0px 12px 12px;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: -20px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 1220px+60px;
        min-width: 320px-60px;
        padding: 0 60px;
    }

    .background {
        background-size: 890px auto, contain;
        background-position: center -9px, center;
    }
}

@media (min-width: 992px) {
    .background {
        background-size: 675px auto, contain;
        background-position: center 0px, center;
    }
}