.we_turn {
    padding-top: 44px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__text {
        padding: 0 15px;

        &__h3 {
            font-size: 30px;
            font-weight: 700;
            line-height: 1.2em;
            background-image: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        &__p {
            padding-top: 28px;
            font-size: 19px;
            line-height: 1.57em;
            color: #000000;
        }
    }

    &__numbers {
        padding-top: 28px;
        padding-left: 50px;
        position: relative;

        &__inset {
            display: flex;
            align-items: center;
            padding-bottom: 17px;

            &__text {
                padding-left: 8px;
                font-size: 36px;
                font-weight: 700;
                line-height: 1em;
                background-image: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        &__p {
            color: #323264;
            font-size: 16px;
            line-height: 1em;

            &_pad {
                padding-bottom: 46px;
            }
        }

        &::before {
            content: "";
            width: 4px;
            height: 94%;
            background-color: #E6E6F0;
            position: absolute;
            left: 15px;
            top: 23px;
        }
    }
}

@media (min-width:768px) {
    .we_turn {
        align-items: flex-start;
        padding-top: 51px;
        padding-bottom: 59px;

        &__text {
            padding: 0;

            &__h3 {
                font-size: 38px;
            }
        }

        &__numbers {
            padding-top: 26px;
            padding-left: 34px;

            &::before {
                left: 0px;
                top: 22px;
            }
        }
    }
}

@media (min-width:992px) {
    .we_turn {
        flex-direction: row;
        justify-content: center;
        padding-bottom: 51px;

        &__text {
            width: 50%;
        }


        &__numbers {
            width: 50%;
            padding-left: 98px;
            padding-top: 0;

            &::before {
                left: 64px;
                top: -1px;
                height: 102%;
            }

            &__p {

                &_pad {
                    padding-bottom: 48px;
                }
            }
        }
    }
}