@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BoldItalic.woff') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-MediumItalic.woff') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Italic.woff') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts//CeraPro-Regular.woff') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Cera Pro', "Tahoma", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3d3d3d;
}

.wrapper {
    max-width: 1220px;
    min-width: 991px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    box-sizing: content-box;
    background-color: #fff;
    padding-top: 25px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 0.3px solid;
    border-bottom-color: rgba(70, 163, 88, 0.50);
}

.menu a {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: inherit;
    margin-right: 48px;
    padding-bottom: 32px;
    border-bottom: 3px solid transparent;
}

.menu a:hover {
    border-bottom-color: #46a358;
}

.login-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    cursor: pointer;
    border: none;
    background: none;
}

.search svg:hover path {
    fill: #46a358;
}

.basket {
    margin-left: 30px;
    position: relative;
    display: inline-block;
}

.basket svg:hover path {
    fill: #46a358;
}

.basket-count {
    position: absolute;
    top: 2px;
    right: -5px;
    width: 14px;
    height: 14px;
    font-size: 8px;
    font-weight: 500;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #46a358;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    border-radius: 6px;
    background: #46A358;
    text-decoration: none;
    padding: 8px 17px 7px 41px;
    background-image: url(../img/login.svg);
    background-repeat: no-repeat;
    background-position: 20px 8px;
    margin-left: 30px;
}

.main {
    display: flex;
    flex-direction: column;
}

.section-better-planet {
    background-color: rgba(245, 245, 245, 0.50);
    margin-bottom: 46px;
    display: flex;
    align-items: center;
}

.green-shop {
    padding-top: 68px;
    padding-bottom: 85px;
    padding-left: 40px;
    display: inline-block;
    vertical-align: top;
}

.welcome {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    width: 570px;
    margin-bottom: 5px;
}

.green {
    color: #46a358;
}

.last-p {
    color: #727272;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 44px;
    width: 535px;
}

.shop-btn {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 6px;
    background-color: #46a358;
    padding: 11px 27px 9px 26px;
}

.img {
    display: inline-block;
    width: 100%;
}

.section-items {
    display: flex;
    gap: 20px;
}

.left-bar {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.list {
    height: 680px;
    background-color: #fbfbfb;
    padding-top: 14px;
    padding-left: 18px;
}

.list-item {
    padding-left: 12px;
    font-size: 15px;
    line-height: 40px;
    list-style-type: none;
}

.sale-baner {
    width: 100%;
}

.list-item a {
    text-decoration: none;
    color: inherit;
}

.list-item a:hover {
    color: #46a358;
}

.right-bar {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.up-panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.up-select {
    display: flex;
    width: 33.333%;
    justify-content: space-between;
    align-items: center;
}

.up-sort {
    width: 33.333%;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    gap: 10px;
}

.up-btn {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    font-family: inherit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 0;
}

.up-select button {
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
}

.up-select button:hover {
    color: #46a358;
    border-bottom-color: #46a358;
}

.up-sort button {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    appearance: none;
    font-family: inherit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.up-sort button:hover {
    color: #46a358;
}

.up-sort button:hover path {
    stroke: #46a358;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    background-color: #ffffff;
}

.goods-element {
    width: 33.333%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 70px;
}

.green-line {
    border-top: 1px solid transparent;
    position: relative;
}

.goods-element div:hover {
    border-top-color: #46a358;
}

.goods-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.50);
    position: relative;
}

.goods-img-panel {
    width: 100%;
    position: absolute;
    bottom: 7px;
    display: flex;
    justify-content: center;
    display: none;
}

.goods-element div:hover .goods-img-panel {
    display: flex;
}

.goods-img-panel-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.goods-img-panel-btn a:hover path {
    fill: #46a358;
}

.goods-img-panel-btn-element {
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 6px 5px;
    background-color: #ffffff;
    text-decoration: 0;
    border-radius: 3px;
}

.goods-sale {
    position: absolute;
    top: 14px;
    padding: 7px 8px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    background-color: #46a358;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.goods-element-ref {
    text-decoration: none;
    display: inline-block;
    padding-top: 12px;
}

.good-name {
    color: #3d3d3d;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.good-price-positioning {
    display: flex;
    align-items: center;
}

.good-price {
    color: #46a358;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-top: 6px;
}

.good-price-sale {
    color: #a5a5a5;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    align-self: end;
    padding-left: 16px;
    text-decoration: line-through;
}

.paginator {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.paginator a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: #3d3d3d;
    font-family: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
}

.paginator a:hover {
    color: #fff;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    background-color: #46a358;
    border-color: #46a358;
}

.paginator a:hover path {
    stroke: #fff;
    stroke-width: 3px;
}