* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3d3d3d;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header {
    box-sizing: content-box;
    background-color: #fff;
    padding-top: 30px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 0.3px solid;
    border-bottom-color: rgba(70, 163, 88, 0.50);
}

.main {
    float: left;
}

.logo {
    margin-right: 244px;
}

.menu a {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: inherit;
    margin-right: 48px;
    padding-bottom: 32px;
    border-bottom: 3px solid transparent;
}

.menu a:hover {
    border-bottom-color: #46a358;
}

.login {
    margin-left: 316px;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    border-radius: 6px;
    background: #46A358;
    text-decoration: 0;
    flex-shrink: 0;
    padding: 8px 17px 7px 41px;
    background-image: url(../img/login.svg);
    background-repeat: no-repeat;
    background-position: 20px 8px;
}

.green-shop {
    padding-top: 68px;
    padding-bottom: 85px;
    padding-left: 40px;
    display: inline-block;
    vertical-align: top;

}

.section-color {
    background-color: rgba(245, 245, 245, 0.50);
    margin-bottom: 46px;
}

.welcome {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    width: 570px;
    margin-bottom: 5px;
}

.green {
    color: #46a358;
}

.last-p {
    color: #727272;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 44px;
    width: 535px;
}

.shop-btn {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: 0;
    border-radius: 6px;
    background-color: #46a358;
    padding: 11px 27px 9px 26px;
}

.img {
    display: inline-block;
    width: 507px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.left-bar {
    float: left;
    width: 285px;
}

.list {
    height: 647px;
    background-color: #fbfbfb;
    padding-top: 14px;
    padding-left: 18px;
}

.list-item {
    margin-left: 0px;
    padding-left: 12px;
    font-size: 15px;
    line-height: 40px;
    list-style-type: none;
}

.list-item a {
    text-decoration: 0;
    color: inherit;
}

.list-item a:hover {
    color: #46a358;
}

.sale-baner {
    width: 100%;
    /* display: block; */
    /* padding: 0;  */
}

.right-bar {
    width: 915px;
    float: left;
    margin-bottom: 31px;
}

.up-select {
    float: left;
}

.up-panel-txt {
    float: left;
}

.up-sort {
    float: right;
}

.up-btn {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    font-family: "Tahoma";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 0px;
}

.up-btn-mrgn {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    font-family: "Tahoma";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 0px;
    margin-left: 40px;
}

.up-select {
    margin-left: 20px;
}


.up-select button {
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
}

.up-select button:hover {
    color: #46a358;
    border-bottom-color: #46a358;
}

.up-sort button {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    appearance: 0;
    font-family: "Tahoma";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.up-sort button:hover {
    color: #46a358;
}

.up-sort button:hover path {
    stroke: #46a358;
}

.goods {
    float: left;
    width: 915px;
    margin-bottom: 90px;
}

.goods-element {
    width: 285px;
    margin-left: 20px;
    margin-bottom: 70px;
    float: left;
}

.green-line {
    border-top: 1px solid transparent;
}

.goods-element div:hover {
    color: #46a358;
    border-top-color: #46a358;
}

.goods-element-ref {
    text-decoration: 0;
}

.good-name {
    color: #3d3d3d;
    font-family: "Tahoma";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.good-price {
    color: #46a358;
    font-family: "Tahoma";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-top: 6px;
}

.paginator {
    float: right;
}

.paginator a {
    display: inline-block;
    text-align: center;
    padding-top: 9px;
    width: 35px;
    height: 35px;
    color: #3d3d3d;
    font-family: "Tahoma";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    margin-left: 10px;
}

.paginator a:hover {
    color: #fff;
    font-family: "Tahoma";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    background-color: #46a358;
    border-color: #46a358;
}

.paginator a:hover path {
    stroke: #fff;
    stroke-width: 3px;
}