* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #3d3d3d;
}

.wrapper {
    max-width: 1220px;
    min-width: 1020px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    box-sizing: content-box;
    background-color: #fff;
    padding-top: 30px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 0.3px solid;
    border-bottom-color: rgba(70, 163, 88, 0.50);
}

.logo {
    margin-right: auto;
}

.menu a {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: inherit;
    margin-right: 48px;
    padding-bottom: 32px;
    border-bottom: 3px solid transparent;
}

.menu a:hover {
    border-bottom-color: #46a358;
}

.login {
    margin-left: auto;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    border-radius: 6px;
    background: #46A358;
    text-decoration: none;
    padding: 8px 17px 7px 41px;
    background-image: url(../img/login.svg);
    background-repeat: no-repeat;
    background-position: 20px 8px;
}

.main {
    display: flex;
    flex-direction: column;
}

.section-better-planet {
    background-color: rgba(245, 245, 245, 0.50);
    margin-bottom: 46px;
    display: flex;
    align-items: center;
}

.green-shop {
    padding-top: 68px;
    padding-bottom: 85px;
    padding-left: 40px;
    display: inline-block;
    vertical-align: top;
}

.welcome {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.h1 {
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    width: 570px;
    margin-bottom: 5px;
}

.green {
    color: #46a358;
}

.last-p {
    color: #727272;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 44px;
    width: 535px;
}

.shop-btn {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 6px;
    background-color: #46a358;
    padding: 11px 27px 9px 26px;
}

.img {
    display: inline-block;
    width: 100%;
}

.section-items {
    display: flex;
    gap: 20px;
}

.left-bar {
    display: flex;
    flex-direction: column;
    width: 23.75%;
}

.list {
    height: 680px;
    background-color: #fbfbfb;
    padding-top: 14px;
    padding-left: 18px;
}

.list-item {
    margin-left: 0;
    padding-left: 12px;
    font-size: 15px;
    line-height: 40px;
    list-style-type: none;
}

.sale-baner {
    width: 100%;
}

.list-item a {
    text-decoration: none;
    color: inherit;
}

.list-item a:hover {
    color: #46a358;
}

.right-bar {
    width: 76.25%;
    display: flex;
    flex-direction: column;
}

.up-panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.up-select {
    display: flex;
    width: 33.333%;
    justify-content: space-between;
    align-items: center;
}

.up-sort {
    width: 33.333%;
    display: flex;
    justify-content: end;
    align-items: flex-start;
    gap: 10px;
}

.up-btn {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    font-family: "Tahoma";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 0;
}

.up-select button {
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
}

.up-select button:hover {
    color: #46a358;
    border-bottom-color: #46a358;
}

.up-sort button {
    cursor: pointer;
    border: 0;
    background-color: #fff;
    appearance: none;
    font-family: "Tahoma";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.up-sort button:hover {
    color: #46a358;
}

.up-sort button:hover path {
    stroke: #46a358;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.goods-element {
    width: 33.333%;
    padding-left:10px ;
    padding-right: 10px;
    padding-bottom: 90px;
}

.green-line {
    border-top: 1px solid transparent;
}

.goods-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-responsive{
    max-width: 100%;
    height: auto;
}

.goods-element div:hover {
    color: #46a358;
    border-top-color: #46a358;
}

.goods-element-ref {
    text-decoration: none;
}

.good-name {
    color: #3d3d3d;
    font-family: "Tahoma";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.good-price {
    color: #46a358;
    font-family: "Tahoma";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding-top: 6px;
}

.paginator {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.paginator a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: #3d3d3d;
    font-family: "Tahoma";
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
}

.paginator a:hover {
    color: #fff;
    font-family: "Tahoma";
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    background-color: #46a358;
    border-color: #46a358;
}

.paginator a:hover path {
    stroke: #fff;
    stroke-width: 3px;
}