@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-400.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-700.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.wrapper {
  max-width: 1250px;
  min-width: 290px;
  margin: 0 auto;
  padding: 0 15px;
}

::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.body {
  font-family: "Montserrat", "Tahoma", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.background {
  position: relative;
  background-image: url(../img/symbol.svg), linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-repeat: no-repeat;
  background-position: center top, center;
  background-size: 671px auto, contain;
  border-radius: 0px 0px 12px 12px;
}
.background::before {
  content: "";
  display: inline-block;
  height: 10px;
  background-color: #CACADB;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: -10px;
}
.background::after {
  content: "";
  display: inline-block;
  height: 10px;
  background-color: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -20px;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 1280px;
    min-width: 260px;
    padding: 0 60px;
  }
  .background {
    background-size: 890px auto, contain;
    background-position: center -9px, center;
  }
}
@media (min-width: 992px) {
  .background {
    background-size: 675px auto, contain;
    background-position: center 0px, center;
  }
}
.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  position: relative;
}
.header__top {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
  padding: 0 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__top_dark {
  background-color: rgba(245, 245, 250, 0.2);
}
.header__top_light {
  background-color: rgb(245, 245, 250);
}
.header__adress {
  display: none;
  color: #B3B3BA;
}
.header__tel {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: right;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
}
.header__tel:hover {
  color: #f0145a;
}
.header__tel_dark {
  color: #ffffff;
}
.header__tel_light {
  color: #B3B3BA;
}
.header__fb {
  display: none;
}
.header__logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}
.header__logo-box span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__logo-box_homepage span {
  display: none;
}
.header__logo-box-logo img {
  display: block;
  width: 69px;
  height: 32px;
}
.header__breadcrumbs {
  color: #323264;
  font-size: 20px;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__breadcrumbs::before {
  display: block;
  content: "";
  padding-top: 1px;
  background-image: url(../img/slash.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 26px;
}

@media (min-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content min-content;
  }
  .header__top {
    background-color: transparent;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .header__adress {
    display: block;
    position: relative;
    padding-left: 18px;
    font-size: 16px;
    line-height: 100%;
  }
  .header__adress::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #e6e6f0;
    position: absolute;
    top: 5px;
    left: 7px;
  }
  .header__adress::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #e6e6f0;
    position: absolute;
    top: 5px;
    left: 224px;
  }
  .header__tel {
    padding-left: 18px;
    position: relative;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: color;
    transition-property: color;
  }
  .header__tel:hover {
    color: #f0145a;
  }
  .header__tel::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #e6e6f0;
    position: absolute;
    top: 5px;
    left: 127px;
  }
  .header__fb {
    display: block;
    margin-left: 18px;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: fill;
    transition-property: fill;
  }
  .header__fb:hover use {
    fill: #f0145a;
  }
  .header__logo-box-logo img {
    width: 130px;
    height: 60px;
  }
  .header__top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header__breadcrumbs {
    font-size: 36px;
  }
  .header__breadcrumbs::before {
    width: 21px;
    height: 47px;
  }
}
@media (min-width: 992px) {
  .header {
    grid-template-columns: 1fr -webkit-min-content;
    grid-template-columns: 1fr min-content;
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
  }
  .header__top {
    grid-column: 2/-1;
    padding-bottom: 16px;
  }
  .header__logo-box {
    grid-row: 1/-1;
  }
  .header__adress {
    white-space: nowrap;
  }
  .header__tel {
    white-space: nowrap;
  }
}
.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style: none;
}
.lang a {
  color: #b3b3ba;
  font-weight: 700;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 7px;
  border-radius: 8px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.lang a:hover {
  background-color: #f5f5fa;
}
.lang a.active {
  color: #ffffff;
  background-color: #f0145a;
}

.menu__list {
  display: none;
  position: absolute;
  right: -15px;
  top: 88px;
  left: -15px;
  background-color: #ffffff;
  list-style: none;
  padding: 12px;
  text-align: center;
}
.menu__list__inset {
  margin-bottom: 15px;
  border-radius: 12px;
  background-color: #f5f5fa;
  padding: 7px 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.menu__list__inset__link {
  text-decoration: none;
  color: #24a3ff;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}
.menu__list__inset__link.active {
  color: #f0145a;
}
.menu__list__inset:hover {
  background-color: #e6e6f0;
}
.menu__btn {
  background-color: transparent;
  border: none;
  width: 32px;
  height: 33px;
  border-radius: 8px;
  margin-top: 12px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.menu__btn_dark {
  background-image: url(../img/hamburger_dark.svg);
}
.menu__btn_light {
  background-image: url(../img/hamburger_light.svg);
}
.menu__btn:hover {
  background-color: #e6e6f0;
}
.menu__btn.active_dark {
  background-image: url(../img/close_dark.svg);
}
.menu__btn.active_light {
  background-image: url(../img/close_light.svg);
}

@media (min-width: 768px) {
  .menu__btn {
    display: none;
  }
  .menu__list {
    position: static;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
  }
  .menu__list__inset:hover {
    background-color: transparent;
  }
  .menu__list__inset {
    background-color: transparent;
    padding: 30px 15px 0 0px;
  }
  .menu__list__inset__link {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: border-color;
    transition-property: border-color;
  }
  .menu__list__inset__link_light {
    color: #24a3ff;
  }
  .menu__list__inset__link_dark {
    color: #ffffff;
  }
  .menu__list__inset__link_dark:hover {
    border-color: #ffffff;
  }
  .menu__list__inset__link_light:hover {
    border-color: #24a3ff;
  }
  .menu__list__inset__link.active {
    color: #f0145a;
    border-color: #f0145a;
  }
}
@media (min-width: 992px) {
  .menu__list {
    white-space: nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu__list__inset {
    padding: 0px 0px 0 15px;
  }
}
.icon__facebook {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.icon__facebook_light {
  fill: #B3B3BA;
}
.icon__case {
  width: 64px;
  height: 64px;
}
.icon__facebook1 {
  width: 38px;
  height: 38px;
  fill: #24A3FF;
}
.icon__hamburger {
  width: 32px;
  height: 32px;
  stroke: #ffffff;
}

.solutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 26px;
}
.solutions__h {
  font-weight: 700;
  font-size: 38px;
  line-height: 100%;
  text-align: center;
  padding: 229px 0 292px;
}
.solutions__btn {
  cursor: pointer;
  border: none;
  background: url(../img/scroll.svg) center no-repeat transparent;
  padding: 21px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: background-image;
  transition-property: background-image;
}
.solutions__btn:hover {
  background-image: url(../img/scroll_hover.svg);
}
.solutions__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.solutions__box__list {
  width: 100%;
  padding-bottom: 30px;
}
.solutions__box__text {
  position: relative;
  padding-top: 30px;
}
.solutions__box__text::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0px;
}
.solutions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 30px;
  list-style: none;
  padding: 0;
  overflow: auto;
}
.solutions__list__inset {
  white-space: nowrap;
}
.solutions__list__inset button.active {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.84%, #EF8080), color-stop(99.96%, #F0145A));
  background-image: linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.solutions__list__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-right: 50px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1em;
  color: #b3b3ba;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.solutions__list__btn:hover {
  opacity: 0.7;
}
.solutions__info {
  padding: 16px;
}
.solutions__info__h2 {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 1em;
}
.solutions__info__p {
  padding-top: 30px;
  color: #ffffff;
  font-size: 19px;
  line-height: 1.57em;
}

@media (min-width: 992px) {
  .solutions__box {
    padding-top: 90px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .solutions__box__list {
    width: 50%;
  }
  .solutions__box__text {
    width: 50%;
    padding: 0 0 0 30px;
  }
  .solutions__box__text::before {
    content: "";
    width: 4px;
    height: 303px;
    top: 0px;
    left: -12px;
  }
  .solutions__list {
    display: block;
  }
  .solutions__list__inset {
    padding: 15px 30px 15px 0;
    text-align: end;
  }
}
.services__h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 1em;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.84%, #F0145A), color-stop(99.96%, #EF8080));
  background-image: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 13px 0 30px;
}
.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}
.services__block__inset {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}
.services__block__inset__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.services__block__inset__content__h3 {
  color: #24A3FF;
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
  padding-top: 30px;
  padding-bottom: 15px;
}
.services__block__inset__content__p {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.62em;
}

@media (min-width: 768px) {
  .services__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 -30px;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .services__block__inset {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .services__block__inset {
    width: 33.33333%;
  }
}
.team {
  padding-top: 30px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slider__item__pic {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.slider__item__text {
  background-color: #F5F5FA;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 30px;
}
.slider__item__text__p1 {
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1em;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.84%, #F0145A), color-stop(99.96%, #EF8080));
  background: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow-wrap: break-word;
  max-width: 100%;
}
.slider__item__text__p2 {
  color: #B3B3BA;
  font-size: 16px;
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 6px;
}
.slider__item__text__p3 {
  color: #B3B3BA;
  font-size: 14px;
  line-height: 1.57em;
}
.slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider__dots li {
  padding: 0 7px;
}
.slider__dots li.slick-active button {
  opacity: 1;
}
.slider__dots button {
  margin-top: 30px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background-color: #24A3FF;
  opacity: 0.2;
  font-size: 0;
}

@media (min-width: 992px) {
  .slider__item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .slider__item__pic img {
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  .slider__item__text {
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
  }
}
.trust {
  padding-top: 60px;
}
.trust__h2 {
  color: #323264;
  font-size: 14px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}
.trust__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.trust__list__inset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 36px;
  height: 120px;
  width: 100%;
}
.trust__list__inset img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.trust__list__inset-color1 {
  background-color: #1C4280;
}
.trust__list__inset-color2 {
  background-color: #143646;
}
.trust__list__inset-color3 {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#F48B30), to(#F48B30));
  background-image: linear-gradient(0deg, #F48B30 0%, #F48B30 100%);
}
.trust__list__inset-color4 {
  background-color: #9E4DC3;
}
.trust__list__inset-color5 {
  background-color: #FD9339;
}
.trust__list__inset-color6 {
  background-color: #E2E2E4;
}
.trust__list__inset-color7 {
  background-color: #C71C36;
  display: none;
}
.trust__list__inset-color8 {
  background-color: #DCF3F9;
  display: none;
}
.trust__list__inset-color9 {
  background-color: #EAEAEA;
  display: none;
}
.trust__list__inset-color10 {
  background-color: #282240;
  display: none;
}
.trust__list__inset-color11 {
  background-color: #1D4568;
  display: none;
}
.trust__list__inset-color12 {
  background-color: #000000;
  display: none;
}

@media (min-width: 768px) {
  .trust__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .trust__list__inset {
    width: 33.333%;
  }
  .trust__list__inset-color7 {
    display: block;
  }
  .trust__list__inset-color8 {
    display: block;
  }
  .trust__list__inset-color9 {
    display: block;
  }
  .trust__list__inset-color10 {
    display: block;
  }
  .trust__list__inset-color11 {
    display: block;
  }
  .trust__list__inset-color12 {
    display: block;
  }
}
.publications {
  background-color: #F5F5FA;
  padding-top: 30px;
  padding-bottom: 30px;
}
.publications__h2 {
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1em;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0.84%, #F0145A), color-stop(99.96%, #EF8080));
  background-image: linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.publications__list {
  display: grid;
  gap: 30px;
}
.publications__list__inset {
  border-radius: 8px;
  background-color: #ffffff;
}
.publications__list__inset__text {
  padding: 30px;
}
.publications__list__inset__text__btn {
  display: block;
  text-decoration: none;
  color: #24A3FF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 15px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.publications__list__inset__text__btn:hover {
  opacity: 0.7;
}
.publications__list__inset__text__p1 {
  color: #B3B3BA;
  font-size: 12px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.publications__list__inset__text__p2 {
  padding-top: 15px;
  color: #000000;
  font-size: 14px;
  line-height: 1.57em;
  position: relative;
}
.publications__list__inset__text__p2::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #E6E6F0;
  position: absolute;
  top: 0px;
}

@media (min-width: 768px) {
  .publications__list {
    grid-template-columns: 1fr 1fr;
  }
  .publications__list__inset-item3 {
    grid-column: span 2;
  }
}
@media (min-width: 992px) {
  .publications__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .publications__list__inset-item3 {
    grid-column: span 1;
  }
}
.btn {
  text-decoration: none;
  color: #24A3FF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-right: 12px;
  background: url(../img/arrow.svg) no-repeat center right;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.btn:hover {
  opacity: 0.7;
}

.footer {
  padding-top: 30px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.footer::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #E6E6F0;
  position: absolute;
  top: 0px;
}
.footer__background {
  background-color: #F5F5FA;
}
.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__adress {
  color: #323264;
  font-size: 16px;
  line-height: 1em;
  padding-bottom: 10px;
}
.footer__map {
  text-decoration: none;
  color: #24A3FF;
  font-size: 12px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 21px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
}
.footer__map:hover {
  color: #f0145a;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__fb {
  padding-bottom: 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: fill;
  transition-property: fill;
}
.footer__fb:hover use {
  fill: #f0145a;
}
.footer__tel {
  text-decoration: none;
  color: #46466E;
  font-size: 16px;
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 10px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
}
.footer__tel:hover {
  color: #f0145a;
}
.footer__mail {
  text-decoration: none;
  color: #24A3FF;
  font-size: 16px;
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 30px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
}
.footer__mail:hover {
  color: #f0145a;
}
.footer__hlegal {
  color: #B3B3BA;
  font-size: 16px;
  line-height: 1em;
  padding-bottom: 30px;
}
.footer__hlegal-uppercase {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }
  .footer__navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 21px;
  }
  .footer__contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column: span 2;
    padding-bottom: 30px;
  }
  .footer__adress {
    padding: 0;
  }
  .footer__map {
    padding: 0 0 0 26px;
    position: relative;
  }
  .footer__map::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
    position: absolute;
    top: 3px;
    left: 10px;
  }
  .footer__fb {
    padding: 0;
  }
  .footer__tel {
    padding: 0 0 0 26px;
    position: relative;
  }
  .footer__tel::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
    position: absolute;
    top: 5px;
    left: 9px;
  }
  .footer__tel::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #B3B3BA;
    position: absolute;
    top: 5px;
    left: 140px;
  }
  .footer__mail {
    padding: 0 0 0 26px;
  }
  .footer__hlegal {
    padding: 0;
    grid-column: 2/3;
    grid-row: 3/1;
    margin-left: auto;
  }
}
.link_light {
  color: #24A3FF;
}
.link_light:hover {
  border-color: #24A3FF;
}
.link_dark {
  color: #ffffff;
}
.link_dark:hover {
  border-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */
